@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{

    cursor: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="%23F4F4F4"><circle cx="8" cy="8" r="7" /></svg>'), auto;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    text-align: center;
    margin-top: 300px;
    color: #F4F4F4;
    font-family: 'Roboto Mono', monospace;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease;
}

.circle:hover {
    transform: scale(0.8);
}

.text-container {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.text-container p {
    opacity: 0;
    margin: 0;
    padding: 10px;
    font-size: 10px;
    color: #f4f4f4; /* Change the text color to #f4f4f4 */
}

.text-animation {
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}

.social-icons-container img {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}
